/DDWA/M2/JDBCTemplateExampleStarter/target/
/DDWA/M2/JDBCTComplexExampleStarter/target/
/DDWA/M2/JDBCTComplexExampleStarter/nbproject/
/DDWA/M2/JDBCExampleStarter/JDBCExampleStarter/target/
/DDWA/M2/L2-JDBC/JDBCExampleStarter/JDBCExampleStarter/target/
/DDWA/M2/L4-TemplateAndComplexRelationships/JDBCTComplexExampleStarter/JDBCTComplexExampleStarter/target/
/DDWA/M2/L4-TemplateAndComplexRelationships/JDBCTComplexExampleStarter/JDBCTComplexExampleStarter/nbproject/
/DDWA/M2/TRASHVERSION/nbproject/
/DDWA/M2/TRASHVERSION/target/
/DDWA/M2/L5-TemplateAndTesting/JDBCTTestingExampleStarter/JDBCTTestingExampleStarter/target/
/DDWA/M2/L7-SpringBoot/Lesson7/target/
/DDWA/M2/L8-RESTService/mavenproject1/target/
/DDWA/M2/L8-RESTService/ToDoApi/target/
/DDWA/M2/Assessment/BullsAndCows/target/
/DDWA/M2/Assessment/BullsAndCows/nbproject/
/DDWA/M4/ClassWork_9_22/ClassRoster/nbproject/
/DDWA/Mastery/HelloSecurity/target/
/DDWA/Mastery/Assignment/MasteryDDWA/nbproject/