/NetBeansProjects/PracticeProgramming/target/
/NetBeansProjects/AssessmentBasicProgrammingConcepts/target/
/SimpleCalculator/target/
/NetBeansProjects/SimpleCalculator/target/
/NetBeansProjects/StateCapitals/target/
/NetBeansProjects/UserIOClassLab/target/
/NetBeansProjects/StateCapitals1/target/
/NetBeansProjects/Assessments/target/