/NetBeansProjects/PracticeProgramming/target/
/NetBeansProjects/AssessmentBasicProgrammingConcepts/target/
/SimpleCalculator/target/
/NetBeansProjects/SimpleCalculator/target/
/NetBeansProjects/StateCapitals/target/
/NetBeansProjects/UserIOClassLab/target/
/NetBeansProjects/StateCapitals1/target/
/NetBeansProjects/Assessments/target/
/NetBeansProjects/PracticeProgramming/nbproject/
/NetBeansProjects/StatelessUnitTesting/StatelessUnitTesting/nbproject/
/NetBeansProjects/StatelessUnitTesting/StatelessUnitTesting/target/
/NetBeansProjects/MonstrousDaoTestingLab/nbproject/
/NetBeansProjects/MonstrousDaoTestingLab/target/
/NetBeansProjects/MonstrousDaoTestingLab/MonstrousDaoTestingLab/nbproject/
/NetBeansProjects/MonstrousDaoTestingLab/MonstrousDaoTestingLab/target/